.t-right {
    text-align: right
}

div {
    box-sizing: border-box;
}

.t-center {
    text-align: center
}

.padding {
    padding: 0 16px;
}

.background-two-color {
    background-image: linear-gradient(to bottom, #F2F1EC, #F2F1EC 50%, #fff 50%);
}

.h1 {
    font-size: 66px
}

.font20 {
    font-size: 20px
}

.h2 {
    font-size: 30px
}

.h3 {
    font-size: 15px;
}

.h4 {
    font-size: 14px !important;
}

.h5 {
    font-size: 13px;
}

.h6 {
    font-size: 12px;
}

.h7 {
    font-size: 10px;
}

.h8 {
    font-size: 8px;
}

.orange-font {
    font-size: 25px;
}

.red {
    color: #CE181D
}

.grey {
    color: #797979
}



.orange2 {
    color: #F79800
}

.orange {
    color: #FF9D00
}

.black {
    color: #000000
}

.med-weight {
    font-weight: 500
}

.bold {
    font-weight: bold
}

.semi-bold {
    font-weight: 600
}

.flex {
    display: flex;
}

.app {
    display: none;
}

.container {

    padding-top: 40px
}

body {
    color: #333333;
    font-family: PingFang SC
}

.positon-rl {
    position: relative;
}

.pc-banner {
    width: 100%;
    height: 100%;
    background: #F2F1EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-banner img {
    width: 100%;
}

.ls-50 {
    letter-spacing: 0.05em;
}

.ls-100 {
    letter-spacing: 0.1em;
}

.ls-200 {
    letter-spacing: 0.2em;
}

@media only screen and (max-width: 425px) {

    .pc-banner {
        display: none
    }

    .app {
        display: block
    }

    .container {
        background: #F2F1EC;
    }

    .title img,
    .banner-img {
        width: 100%
    }

    .banner-title {
        text-align: center
    }

    .banner {
        position: relative;

    }

    .box {
        box-shadow: 0px 15px 10px -15px #707070;
    }

    .section-weibo-content {
        background: #ffffff;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 10px;
        width: 100%;
        position: relative;
    }

    .section-weibo-content .row-two {
        display: flex;
        height: 25px;
        align-items: center;
        margin-top: 5.5px;
    }

    .section-weibo-content .row-two img {
        height: 25px;
        align-items: center;

    }

    .product-container {
        position: absolute;
        right: 11px;
        bottom: 34px;
    }

    .product-container img {
        height: 116px !important;
    }

    .title-content {
        font-weight: 600;
        font-size: 30px;
        color: #CE181D;
        text-align: right;
        letter-spacing: 0.1em;
    }

    .banner-group {
        position: absolute;
        top: 340px;
        left: 20px;
    }

    .group-1 {
        width: 80px
    }

    .group-2 {
        width: 80px;
        position: relative;
        top: 15px;
        left: -10px;
    }

    .group-3 {
        width: 82px;
        position: relative;
        top: 62px;
        left: -34px;
        z-index: 2;
    }

    .group-4 {
        width: 89px;
        position: relative;
        top: -18px;
        left: 14px;
    }

    .group-5 {
        width: 70px;
        position: relative;
        top: -20px;
        left: -10px;
    }

    .label-right-container {
        text-align: right;
        margin-top: 15px;
        position: relative;
        height: 39px;

        display: flex;
        justify-content: flex-end;
    }

    .label-right {
        width: 135px;
        background: #DB0632;
        padding: 4px 16px;
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        border-bottom-left-radius: 24px;
        border-top-left-radius: 24px;
        letter-spacing: 0.2em
    }

    .IRI-logo {
        text-align: right;
        margin-top: 51px;
        padding-bottom: 17px;
    }

    .IRI-logo img {
        width: 53px;
        margin-bottom: 6px
    }

    .label-left {
        background: #DB0632;
        width: 108px;
        position: relative;
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
        margin-bottom: 22px;
    }

    .label-left-tip {
        background: #DB0632;
        width: 126px;
        position: relative;
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
        margin-bottom: 22px;
    }

    .label-left-content {
        padding: 5px 20px 6px 16px;
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 0.2em;
    }

    .effect-row {
        display: flex;
        margin-bottom: 17px;
        align-items: center;
        font-size: 14px
    }

    .active-1 {
        padding: 0 16px;
    }

    .active-1 .row1 {
        position: relative;
        margin-top: 20px
    }

    .active-1 .row1 img {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -20px
    }

    .active-1 .row1 .content {
        border-radius: 32px;
        background: #ffffff;
        font-size: 12px;
        line-height: 20px;
        padding: 0 19px 0 54px;
        margin-left: 20px;
        height: 48px;
        display: flex;
        align-items: center;

    }

    .active-1 .row2 {
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin-top: 26px;
    }

    .active-1 .row3 {
        display: flex;
        padding-left: 20px;
        margin-top: 20px;
        position: relative;
        justify-content: flex-end;
        height: 90px;
        padding-right: 27px;
        margin-bottom: 17px;
    }

    .active-1 .row4 {
        display: flex;
        padding-left: 20px;
        position: relative;
        height: 70px;
    }

    .active-1 .row4 img {
        width: 94px;
        margin-left: 50px;
        position: absolute;
        right: 46px;
        top: -66px;
    }

    .active-1 .row5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        width: 250px;
        background: #fff;
        border-radius: 32px;
        margin: auto;
    }

    .active-1 .row6 img {
        width: 116px;
        margin: auto;
    }

    .active-1 .row6 {
        display: flex;
        margin-top: 20px;
        height: 116px;
        margin-bottom: 12px;
    }

    .active-1 .row5 img {
        height: 26px;
        margin-left: 5px
    }

    .active-1 .row2 img {
        height: 100px;
        margin-left: 25px
    }

    .active-1 .row3 img {
        width: 160px;
        margin-right: 13px;
        position: absolute;
        top: -50px;
        left: 25px;
    }

    .effect-row img {
        /* height: 34px;
        width: 34px; */
        margin-right: 9px;
    }

    .content1 {
        padding: 18px 16px 12px 16px;
        line-height: 25px;
    }

    .tip-row {
        display: flex;
        margin-bottom: 13px
    }

    .tip-content {
        font-size: 14px;
        margin-left: 14px
    }

    .tips-list {
        height: 410px;
        background-image: url(/imgs/banner-2.png);
        background-size: contain;
        background-position: top 50px right 0;
        background-repeat: no-repeat;
    }

    .about-left-tip {
        background: #DB0632;
        width: 215px;
        position: relative;
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
    }

    .video-container {
        margin: 24px 16px 19px 16px;
        position: relative;
    }

    .video-background {
        position: absolute;
        left: 0;
        z-index: 1;
        height: 100%;
    }

    .video {
        width: 100%;
    }

    .title-who {
        font-size: 66px;
        font-weight: 500;
        color: #383838
    }

    .mistory-content {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #8B8B8B;
        margin-bottom: 10px;
    }

    .weibo-section {
        display: flex;
        align-items: center;
    }

    .weibo-section img {
        width: 67px;
        margin-right: 17px
    }

    .weibo-content {
        border-radius: 27px;
        background: #fff;
        padding: 7px 80px 7px 19px;
        color: #FF0000;
        font-size: 12px;
        font-weight: 500;
        height: 17px;
    }

    .weibo-tip {
        padding-left: 119px;
        font-size: 8px;
        color: #4488F5;
        margin-top: 3px;
        font-weight: 500
    }

    .wechart-section {
        display: flex;
        padding-left: 47px;
        margin-top: 11px;
        position: relative;
        padding-bottom: 18px;
        height: 31px;
    }

    .wechat-logo img {
        width: 34px;
        height: 34px;
        margin-right: 19px
    }

    .QR {
        position: absolute;
        bottom: 12px;
        right: 16px;
    }

    .mistory-img {
        position: absolute;
        bottom: 66px;
        right: 16px;
    }

    .mistory-img img {
        width: 120px;
    }

    .QR img {
        width: 47px;
        height: 47px;
    }



    .tip2 {
        color: #C66E6E;
        font-size: 12px;
        line-height: 17px;
        padding: 10px 16px;
    }

    .offical-nutra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 16px;
    }

    .nutra-lift-logo {
        width: 209px;
    }
}

@media only screen and (max-width: 375px) {
    .banner-group {
        top: 304px;
    }
}

@media only screen and (max-width: 320px) {
    .banner-group {
        top: 260px;
    }

    .group-1 {
        width: 70px
    }

    .group-2 {
        width: 70px;

    }

    .group-3 {
        width: 72px;
        /* left: -46px; */
    }

    .group-4 {
        width: 79px;
        /* left: 0; */

    }

    .group-5 {
        width: 60px;
        /* left: -27px; */
    }

    .mistory-img img {
        width: 100px;
    }

    .mistory-img {
        bottom: 76px;
        right: 0px;
    }

    .weibo-content {
        padding: 7px 40px 7px 19px;
    }

    .QR img {
        width: 40px;
        height: 40px;
    }

    .nutra-lift-logo {
        width: 190px;
    }

    .active-1 .row1 .content {
        padding: 0 19px 0 40px;
    }

    .active-1 .row2 img {
        margin-left: 10px;
    }

    .active-1 .row2 {
        padding-left: 10px;
    }

    .active-1 .row3 img {
        width: 150px;
        left: 0px;
    }

    .active-1 .row3 {
        padding-right: 10px;
    }
}